@font-face{ font-family:'Axiforma'; font-weight:900; font-style:normal; src:url('./Axiforma-Black.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:800; font-style:normal; src:url('./Axiforma-ExtraBold.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:700; font-style:normal; src:url('./Axiforma-Bold.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:600; font-style:normal; src:url('./Axiforma-SemiBold.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:500; font-style:normal; src:url('./Axiforma-Medium.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:400; font-style:normal; src:url('./Axiforma-Regular.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:300; font-style:normal; src:url('./Axiforma-Light.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:200; font-style:normal; src:url('./Axiforma-ExtraLight.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:100; font-style:normal; src:url('./Axiforma-Thin.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:900; font-style:italic; src:url('./Axiforma-BlackItalic.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:800; font-style:italic; src:url('./Axiforma-ExtraBoldItalic.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:700; font-style:italic; src:url('./Axiforma-BoldItalic.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:600; font-style:italic; src:url('./Axiforma-SemiBoldItalic.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:500; font-style:italic; src:url('./Axiforma-MediumItalic.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:400; font-style:italic; src:url('./Axiforma-Italic.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:300; font-style:italic; src:url('./Axiforma-LightItalic.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:200; font-style:italic; src:url('./Axiforma-ExtraLightItalic.ttf');}
@font-face{ font-family:'Axiforma'; font-weight:100; font-style:italic; src:url('./Axiforma-ThinItalic.ttf');}
